<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>The Reddit Symphony Orchestra</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="icon.png" type="image/png">
		<link rel="stylesheet" href="rso.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g==" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css" integrity="sha512-D0B6cFS+efdzUE/4wh5XF5599DtW7Q1bZOjAYGBfC0Lg9WjcrqPXZto020btDyrlDUrfYKsmzFvgf/9AB8J0Jw==" crossorigin="anonymous" />
	</head>
	<body>
		<header>
			<a href="https://www.reddit.com/r/TheRedditSymphony/">
				<img src="rso.png" alt="r/TheRedditSymphony">
			</a>
			<div class="music-director">
				<strong>CasuallyNothing</strong>
				<div>Music Director</div>
			</div>
		</header>
		<!-- <div class="colors"> -->
		<!-- 	<div style="background: #E0E0E2"></div> -->
		<!-- 	<div style="background: #81D2C7"></div> -->
		<!-- 	<div style="background: #B5BAD0"></div> -->
		<!-- 	<div style="background: #7389AE"></div> -->
		<!-- 	<div style="background: #416788"></div> -->
		<!-- 	<div style="background: #2A4257"></div> -->
		<!-- 	<div style="background: #182632"></div> -->
		<!-- </div> -->
		<main>
			<div class="content-wrap">
			<div class="multi-column">
				<div class="column">
					<h2>What is RSO?</h2>
					<p>
						Welcome to the Reddit Symphony! Started on Reddit, but also operating on Discord, The Reddit Symphony Orchestra is a thriving online community of musicians. We make music together - and friendships, and stories, and share cat pics and memes - connecting people from all over the globe.
					</p>
					<p>
						Each musician records their individual part alongside a reference track, and all of the participants are mixed together into our best impression of a real live orchestra or band. Anyone can play, regardless of skill level - we only ask that you be kind to your fellow musicians, and above all, we hope you have fun!
					</p>
				</div>
				<div class="column">
					<h2>Finished Projects</h2>
					<div class="video-container">
						<iframe src="https://www.youtube-nocookie.com/embed/{{.LatestVideo.ID}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>
						We have {{.VideoCount}} finished projects! <a href="https://www.youtube.com/playlist?list=PLAl3fvW4KndiZAQtPmFCUFD6nImDC89Gv">View them all on YouTube.</a>
					</p>
				</div>
			</div>

			<h2>Participating</h2>
			<p>
				As mentioned above, <strong>anyone can participate in an RSO project</strong> - and we have a lot going on at any given time! Have a look at the list of projects below, all of which are seeking recordings, and choose which one you'd like to start with.
			</p>
			<p>
				To get started, just download the reference track and the sheet music for your part(s) of choice. When you think you're ready to record, load up the click track (make sure it's playing through headphones or earbuds) and play along. There are a lot of ways to record yourself playing; if you don't have a USB mic for your computer or a dedicated audio setup, your laptop mic or a voice recording app on your phone will almost certainly do just fine. If you need help getting the best sound possible in your recording, there are several audio engineers on the <a href="https://discord.gg/TheRedditSymphony">Discord server</a>, any of whom would be happy to help get you set up.
			</p>
			<p>
				<a class="button" href="https://docs.google.com/document/d/1sQ0DItfvdwLV25SjEWNtCRF5g7BZjxiQQy7yC_atWLw/edit">View step-by-step instructions</a>
			</p>

			<h2>Ongoing Projects</h2>
			{{range .Projects}}
			<div class="project-row {{if .IsOfficial}}official{{end}}">
				<h3><a href="{{.URL}}">{{.Title}}</a></h3>
				<div class="project-attributes">
					<div class="attr organizer">
						<div class="attrname">Organizer</div>
						<div class="attrval">{{.Organizer}}</div>
					</div>
					<div class="attr deadline">
						<div class="attrname">Deadline</div>
						<div class="attrval">{{.EndDate}}</div>
					</div>
					<div class="attr last-update">
						<div class="attrname">Last Update</div>
						<div class="attrval">
							{{if .LastUpdateDate}}
							<a href="https://www.reddit.com{{.LastUpdatePermalink}}">{{.LastUpdateDate}}</a>
							{{else}}
							<i>None!</i>
							{{end}}
						</div>
					</div>
				</div>
				<div class="instruments">
					<div class="attrname">Instruments:</div>
					<div class="attrval">
						{{if .IsOpenInstrumentation}}
							<em>Open instrumentation — every instrument welcome to submit!</em>
						{{else}}
							{{$byreg := .InstrumentsByRegister}}
							{{range .Registers}}
							<details class="register-instruments">
								<summary>{{.}}</summary>
								<ul>
									{{range (index $byreg .)}}
									<li>{{.Name}}</li>
									{{end}}
								</ul>
							</details>
							{{end}}
						{{end}}
					</div>
				</div>
			</div>
			{{end}}

			<hr>

			<div class="news-block">
				<h2>News</h2>
				{{range .News}}
				<div class="news-item">
					<h3><a href="{{.URL}}">{{.Title}}</a></h3>
					<div>
						<span class="posted">Posted by u/{{.Author}} on {{.Date}}.</span>
						<a href="https://www.reddit.com{{.Permalink}}">{{.NumComments}}&nbsp;comment{{if (ne .NumComments 1)}}s{{end}}</a>
					</div>
				</div>
				{{end}}
			</div>
			</div> <!-- content-wrap -->
		</main>

		<footer>
			<div class="multi-column content-wrap">
				<div class="column">
					<h3>Contact</h3>
					<p>
						Follow the links on the right to write us on <a href="https://www.reddit.com/r/TheRedditSymphony">Reddit</a> or <a href="https://discord.gg/TheRedditSymphony">Discord</a>!
					</p>
				</div>
				<div class="column">
					<h3>Join Our Community</h3>
					<div class="community-links">
						<div class="link">
							<a href="https://www.reddit.com/r/TheRedditSymphony"><i class="fab fa-reddit"></i></a>
						</div>
						<div class="link">
							<a href="https://discord.gg/TheRedditSymphony"><i class="fab fa-discord"></i></a>
						</div>
						<div class="link">
							<a href="https://www.youtube.com/c/RedditSymphonyOrchestra"><i class="fab fa-youtube"></i></a>
						</div>
						<div class="link">
							<a href="https://twitter.com/RedditSymphony"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
