@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
	--rso-mint: #81d2c7;
	--rso-dark-blue: #182632;
	--rso-medium-blue: #2A4257;
	--rso-light-blue: #416788;
	--rso-white: #E0E0E2;
	/* other colors:
	   E0E0E2
       81D2C7
       B5BAD0
       7389AE
       416788
       2A4257
       182632
   */
	--official-color: #46d160;
	--main-margin: 5em;
}

.colors {
	display: flex;
}
.colors div {
	height: 1em;
	flex: 1;
}

hr {
	border: var(--rso-medium-blue) 0.1em solid;
	background: var(--rso-medium-blue);
}

a {
	color: var(--rso-mint);
}

.button {
	display: inline-block;
	box-sizing: border-box;
	background: var(--rso-mint);
	color: var(--rso-dark-blue);
	padding: 0.7em 1.4em;
	margin: 0 0.3em 0.3em 0;
	text-decoration: none;
	transition: all 0.2s;
}

.button:hover {
	background: var(--rso-medium-blue);
	color: var(--rso-white);
}

body {
	margin: 0;
	color: var(--rso-white);
	background-color: var(--rso-dark-blue);
	font-family: 'IBM Plex Sans', sans-serif;
}

.content-wrap {
	max-width: 1200px;
	margin: auto;
}

header {
	text-align: center;
	margin-bottom: var(--main-margin);
}

header img {
	max-width: 100%;
	width: 50em;
	filter: invert(24%) sepia(68%) saturate(198%) hue-rotate(121deg) brightness(91%) contrast(88%);
}

.music-director {
	font-size: 125%;
}

main {
	margin: 0 var(--main-margin);
}

.multi-column {
	display: flex;
}

.multi-column > .column {
	flex: 1;
}

.multi-column > .column + .column {
	margin-left: 2em;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-row {
	border-left: 0.5em solid var(--rso-light-blue);
	padding-left: 1em;
	margin-bottom: 2em;

	--tag-margin: 0.5em;
}

.project-row.official {
	border-left-color: var(--official-color);
}

.project-row > .instruments {
	margin-top: 1em;
	display: flex;
}
.project-row > .instruments > .attrname {
	font-weight: bold;
	margin-right: 1em;
}

.project-row > h3 > a {
	margin-right: var(--tag-margin);
}

.tag-list {
	font-weight: normal;
	font-size: 1rem;
}

.tag-list .tag {
	display: inline-block;
	margin-right: var(--tag-margin);
	padding: 0.1em 0.3em;
	background-color: var(--rso-medium-blue);
}

.tag-list .tag.official {
	background-color: var(--official-color);
	color: var(--rso-dark-blue);
}

.project-attributes {
	display: flex;
}

.project-attributes .attr {
	display: flex;
	flex-direction: column;
}

.project-attributes .attrname {
	font-weight: bold;
}

.project-attributes .attr.organizer { width: 12em; }
.project-attributes .attr.deadline { width: 8em; }
.project-attributes .attr.last-update { width: 8em; }

.register-instruments {
	display: inline-block;
	vertical-align: top;
	padding: 0 0.2em;
}

.register-instruments ul {
	margin: 0;
}

/* News block */

.news-block {
}

.news-item {
	border-left: 0.5em solid var(--rso-light-blue);
	padding-left: 1em;
}

.news-item h3 {
	margin-bottom: 0.5em;
}

/* Footer */

footer {
	margin-top: 5em;
	min-height: 10em;
	padding: 0 var(--main-margin);
	background: var(--rso-mint);
	color: var(--rso-dark-blue);
}

footer a {
	color: var(--rso-dark-blue);
}

.community-links {
	font-size: 200%;
	display: flex;
	margin-bottom: 1.5rem;
}

.community-links > .link {
	flex: 1;
}

/* "mobile" view */

@media (max-width: 1000px) {
	:root {
		--main-margin: 2em;
	}

	.multi-column {
		flex-direction: column;
	}
	.multi-column > .column + .column {
		margin-left: 0;
	}
	
	.project-row > .instruments {
		flex-direction: column;
	}

}
