@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
	--rso-color: #81d2c7;
	--official-color: #46d160;
	--main-margin: 5em;
}

a {
	color: var(--rso-color);
}

.button {
	display: inline-block;
	box-sizing: border-box;
	background: var(--rso-color);
	color: black;
	padding: 0.7em 1.4em;
	margin: 0 0.3em 0.3em 0;
	text-decoration: none;
}

body {
	margin: 0;
	color: white;
	background-color: black;
	font-family: 'IBM Plex Sans', sans-serif;
}

.content-wrap {
	max-width: 1500px;
	margin: auto;
}

header {
	text-align: center;
	margin-bottom: 5em;
}

header img {
	max-width: 100%;
	width: 50em;
}

.music-director {
	font-size: 125%;
}

main {
	margin: 0 var(--main-margin);
}

.multi-column {
	display: flex;
}

.multi-column > .column {
	flex: 1;
}

.project-row {
	border-left: 0.5em solid white;
	padding-left: 1em;
}

.project-row.official {
	border-left-color: var(--official-color);
}

.project-attributes {
	display: flex;
}

.project-attributes .attr {
	display: flex;
	flex-direction: column;
}

.project-attributes .attrname {
	font-weight: bold;
}

.project-attributes .attr.organizer { width: 12em; }
.project-attributes .attr.deadline { width: 8em; }
.project-attributes .attr.last-update { width: 8em; }

.register-instruments {
	display: inline-block;
	vertical-align: top;
}

.register-instruments + .register-instruments {
	margin-left: 0.5em;
}

.register-instruments ul {
	margin: 0;
}

/* News block */

.news-block {
	margin-top: 5em;
}

.news-item h3 {
	margin-bottom: 0;
}

/* Footer */

footer {
	margin-top: 5em;
	min-height: 10em;
	padding: 0 var(--main-margin);
	background: var(--rso-color);
	color: black;
}

footer a {
	color: black;
}

.community-links {
	font-size: 200%;
	display: flex;
}

.community-links > .link {
	flex: 1;
}
